@{
    ViewData["Title"] = "Home Page";
}
<header id="adminHeader">
    <h1>Le GALEAZZA ADMIN: @ViewBag.Admin</h1>
    <a asp-action="Index" asp-controller="Home">Play Game</a>
</header>
<aside id="adminAside">
    <div class="aside" id="mapMake">
        <h3>Create Map Size:</h3>
        <partial name="MapPartial"></partial>
    </div>
    <div class="aside" id="portMaker">
        <h3>Create a Port:</h3>
        <partial name="PortPartial"></partial>
    </div>
    <div class="aside" id="goodMaker">
        <h3>Create a Trade Good:</h3>
        <partial name="GoodsPartial"></partial>
    </div>
        <div class="aside" id="PriceMaker">
        <h3>Create a Port Price:</h3>
        <partial name="PricePartial" view-data="ViewData"></partial>
    </div>

    <div class="aside" id="shipMaker">
        <h3>Create a Ship:</h3>
        <partial name="ShipPartial"></partial>
    </div>
    <div class="aside" id="supplyMaker">
        <h3>Create a Supply:</h3>
        <partial name="SupplyPartial"></partial>
    </div>
    <div class="aside" id="islandPortMaker">
        <h3>Create an Port Island:</h3>
        <partial name="IslandPortPartial" view-data="ViewData"></partial>
        <p>Must create a port before creating an Island!</p>
    </div>
    <div class="aside" id="islandMaker">
        <h3>Create an Island:</h3>
        <partial name="IslandPartial" view-data="ViewData"></partial>
    </div>

</aside>
<div id="adminMain">
    <canvas></canvas>
</div>
<div id="db">
    <div>
        <h3>Ports:</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            @foreach(var p in @ViewBag.Ports)
            {
                <tr>
                    <td>@p.PortId</td>
                    <td>@p.PortName</td>
                    <td>@p.Description</td>
                    <td><a href="/deletePort/@p.PortId">Delete</a></td>
                </tr>
            }
        </table>
    </div>
    <div>
        <h3>Trade Goods:</h3>
    
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Base Price</th>
                <th>Weight</th>
                <th>Volume</th>
                <th>Action</th>
            </tr>
            @foreach(var g in @ViewBag.TradeGoods)
            {
                <tr>
                    <td>@g.TradeGoodId</td>
                    <td>@g.GoodName</td>
                    <td>@g.GoodBasePrice</td>
                    <td>@g.GoodWeight</td>
                    <td>@g.GoodVolume</td>
                    <td><a href="/deleteTradeGood/@g.TradeGoodId">Delete</a></td>
                </tr>
            }
        </table>

    </div>
    <div>
        <h3>Port Prices:</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>PortId</th>
                <th>TradeGoodId</th>
                <th>Quantity</th>
                <th>Sell</th>
                <th>Buy</th>
                <th>Action</th>
            </tr>
            @foreach(var p in @ViewBag.Prices)
            {
                <tr>
                    <td>@p.PortPriceId</td>
                    <td>@p.PortId</td>
                    <td>@p.TradeGoodId</td>
                    <td>@p.QuantityAvailable</td>
                    <td>@p.SellModifier</td>
                    <td>@p.BuyModifier</td>
                    <td><a href="/deletePortPrice/@p.PortPriceId">Delete</a></td>
                </tr>
            }
        </table>
    </div>
    <div>
        <h3>Ships:</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cargo Space</th>
                <th>Top Speed</th>
                <th>Oars</th>
                <th>Min Crew</th>
                <th>Max Crew</th>
                <th>Action</th>
            </tr>
            @foreach(var s in @ViewBag.Ships)
            {
                <tr>
                    <td>@s.VesselTypeId</td>
                    <td>@s.TypeName</td>
                    <td>@s.CargoSpace</td>
                    <td>@s.TopSpeed</td>
                    <td>@s.Oars</td>
                    <td>@s.MinCrew</td>
                    <td>@s.MaxCrew</td>
                    <td><a href="/deleteVesselType/@s.VesselTypeId">Delete</a></td>
                </tr>
            }
        </table>
    </div>
    <div>
        <h3>Islands with Ports:</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>xCoord</th>
                <th>yCoord</th>
                <th>Type</th>
                <th>PortId</th>
                <th>Action</th>
            </tr>
            @foreach(var i in @ViewBag.Islands)
            {
                if(@i.Port != null)
                {
                    <tr>
                        <td>@i.GridSquareId</td>
                        <td>@i.xCoord</td>
                        <td>@i.yCoord</td>
                        <td>@i.Type</td>
                        <td>@i.Port.PortId</td>
                        <td><a href="/deletePortIsland/@i.GridSquareId">Delete</a></td>
                    </tr>
                }
            }
        </table>
    </div>
    <div>
        <h3>Islands:</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>xCoord</th>
                <th>yCoord</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            @foreach(var i in @ViewBag.Islands)
            {
                if(@i.Port == null && @i.Type == "land")
                {
                    <tr>
                        <td>@i.GridSquareId</td>
                        <td>@i.xCoord</td>
                        <td>@i.yCoord</td>
                        <td>@i.Type</td>
                        <td><a href="/deleteIsland/@i.GridSquareId">Delete</a></td>
                    </tr>
                }
            }
        </table>
    </div>
</aside>
<script src="~/js/Admin/mapBuilder.js"></script>