@{
    ViewData["Title"] = "Home Page";
}
<header id="adminHeader">
    <h1>GALLEASS ADMIN: @ViewBag.Admin</h1>
</header>
<aside id="adminAside">
    <div class="aside" id="mapMake">
        <h3>Create Map Size:</h3>
        <partial name="MapPartial"></partial>
    </div>
    <div class="aside" id="portMaker">
        <h3>Create a Port:</h3>
        <partial name="PortPartial"></partial>
    </div>
    <div class="aside" id="goodMaker">
        <h3>Create a TradeGood:</h3>
        <partial name="GoodsPartial"></partial>
    </div>
    <div class="aside" id="shipMaker">
        <h3>Create a Ship:</h3>
        <partial name="ShipPartial"></partial>
    </div>
    <div class="aside" id="supplyMaker">
        <h3>Create a Supply:</h3>
        <partial name="SupplyPartial"></partial>
    </div>

</aside>
<main id="adminMain">
    <canvas>
    Your browser does not support HTML5 Canvas.
    </canvas>
</main>
<div id="db">
    <div>
        <h3>Ports:</h3>
        <table>
            <tr>
                <th>PortId:</th>
                <th>Name:</th>
                <th>Image:</th>
                <th>Description:</th>
            </tr>
            @foreach(var p in @ViewBag.Ports)
            {
                <td>@p.PortId</td>
                <td>@p.PortName</td>
                <td>@p.PortImageURL</td>
                <td>@p.Description</td>
            }
        </table>
    </div>
    <div>
        <h3>Trade Goods:</h3>
    
        <table>
            <tr>
                <th>TradeGoodId:</th>
                <th>Name:</th>
                <th>ImageURL:</th>
                <th>Base Price:</th>
                <th>Weight:</th>
                <th>Volume:</th>
            </tr>
            @foreach(var g in @ViewBag.TradeGoods)
            {
                <td>@g.TradeGoodId</td>
                <td>@g.GoodName</td>
                <td>@g.GoodImageURL</td>
                <td>@g.GoodBasePrice</td>
                <td>@g.GoodWeight</td>
                <td>@g.GoodVolume</td>
            }
        </table>

    </div>
    <div>
        <h3>Ships:</h3>
        <table>
            <tr>
                <th>Vessel Id:</th>
                <th>Name:</th>
                <th>Cargo Space:</th>
                <th>Top Speed:</th>
                <th>Oars</th>
                <th>Min Crew:</th>
                <th>Max Cerw:</th>
            </tr>
            @foreach(var s in @ViewBag.Ships)
            {
                <td>@s.VesselTypeId</td>
                <td>@s.TypeName</td>
                <td>@s.CargoSpace</td>
                <td>@s.TopSpeed</td>
                <td>@s.Oars</td>
                <td>@s.MinCrew</td>
                <td>@s.MaxCrew</td>
            }
        </table>
    </div>
</aside>
<script src="~/js/Admin/mapBuilder.js"></script>